@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: 0;
}
